@page "/patients"
@using MedUnify.ResourceModel.HealthPulse
@inject PatientAPIService PatientService

<div class="col-12 text-center">


    <h3>Patients List</h3>

    @if (patients == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile Number</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in patients)
                    {
                        <tr>
                            <td>@patient.FirstName</td>
                            <td>@patient.LastName</td>
                            <td>@patient.MobileNumber</td>
                            <td>
                                <button class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#details-@(patient.PatientId)" aria-expanded="false" aria-controls="details-@(patient.PatientId)">
                                    Details
                                </button>
                                <a class="btn btn-primary ms-2" href="/edit-patient/@patient.PatientId">
                                    Edit
                                </a>
                            </td>
                        </tr>
                        <tr id="details-@(patient.PatientId)" class="collapse">
                            <td colspan="4">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-2 text-end"><strong>Address:</strong></div>
                                        <div class="col-8 text-start"> @patient.Address</div>
                                    </div>

                                    <div class="row mt-2">

                                        <div class="col-2 text-end"><strong>City:</strong></div>
                                        <div class="col-4 text-start"> @patient.City</div>

                                        <div class="col-2 text-end"><strong>State:</strong></div>
                                        <div class="col-4 text-start"> @patient.State</div>

                                    </div>
                                    <div class="row mt-2">

                                        <div class="col-2 text-end"><strong>Created At:</strong></div>
                                        <div class="col-4 text-start">@patient.CreatedAt.ToString("g")</div>

                                        <div class="col-2 text-end"><strong>Updated At:</strong></div>
                                        <div class="col-4 text-start">@patient.UpdatedAt.ToString("g")</div>
                                    </div>


                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>

@code {
    private List<PatientRM> patients;

    protected override async Task OnInitializedAsync()
    {
        patients = await PatientService.GetPatientsAsync();
    }
}
